{% extends "layout.html" %}
{% load static %}
{% block body %}



<style>
.product-card {
  width: calc(100% / 3);
  margin: 10px;
  position: relative;
  bottom: -100%;
  animation: moveUp 1s ease-out forwards;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@keyframes moveUp {
  0% {
    bottom: -100%;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
  .starter-template {
      padding: 40px 15px;
      text-align: center;
  }
</style>



  <!-- Add page content -->
  <div class="container">
      <div class="starter-template">
          <h1>Welcome to our Clothing Online Business!</h1>
          <p class="lead">Check out our latest collections:</p>
          <ul>
              {% for collection in collections %}
                  <li><a href="{% url 'collection_detail' collection.id %}">{{ collection.name }}</a></li>
              {% endfor %}
          </ul>
      </div>
  </div><!-- /.container -->
 <!-- Hero Section Begin -->
 <section class="hero">
  <div class="hero__slider owl-carousel">
      <div class="hero__items set-bg" data-setbg="{% static 'frontend/img/hero/hero-1.jpg'%}">
          <div class="container">
              <div class="row">
                  <div class="col-xl-5 col-lg-7 col-md-8">
                      <div class="hero__text">
                          <h6>Summer Collection</h6>
                          <h2>Fall - Winter Collections 2030</h2>
                          <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                          commitment to exceptional quality.</p>
                          <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                          <div class="hero__social">
                              <a href="#"><i class="fa fa-facebook"></i></a>
                              <a href="#"><i class="fa fa-twitter"></i></a>
                              <a href="#"><i class="fa fa-pinterest"></i></a>
                              <a href="#"><i class="fa fa-instagram"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="hero__items set-bg" data-setbg="{% static 'frontend/img/hero/hero-2.jpg'%}">
          <div class="container">
              <div class="row">
                  <div class="col-xl-5 col-lg-7 col-md-8">
                      <div class="hero__text">
                          <h6>Summer Collection</h6>
                          <h2>Fall - Winter Collections 2030</h2>
                          <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                          commitment to exceptional quality.</p>
                          <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                          <div class="hero__social">
                              <a href="#"><i class="fa fa-facebook"></i></a>
                              <a href="#"><i class="fa fa-twitter"></i></a>
                              <a href="#"><i class="fa fa-pinterest"></i></a>
                              <a href="#"><i class="fa fa-instagram"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Hero Section End -->



  {% for product in products %}
  
  <div class="product-container">

    
      <div class="product-card">
        <span class="badge bg-{{ product.get_label_display }} pt-1 mt-3 ms-2">{{ product.label }}</span>
        <div class="product-image">
          <img class="card-img-top" src="{{product.image}}" width="50" height="50" alt="Card image cap">

        </div>
        <div class="product-info">
          <h4 class="product-name">{{ product.name }}</h4>
          <p class="product-price">${{ product.price|floatformat:2 }}</p>
          <p class="product-description">{{ product.desc|truncatewords:20 }}</p>
          <a href="{{ product.get_absolute_url }}" class="product-link">View details</a>
          <button href="{% url 'add_to_cart' product.id %}">BUY NOW</button>
          <a href="{% url 'add_to_cart' product.id %}" class="product-button">Add to cart</a>
        </div>
      </div>
    </div>
  {% endfor %}
      
  <h2>Recently Viewed Products</h2>
  <ul>
      {% for product in recently_viewed_products %}
      {{product}}
          <li><a href="{{ product.get_absolute_url }}">{{product.product_name}}</a></li>
      {% endfor %}
  </ul>
{% endblock %}

{% block script %}

<script src="{% static 'fronend/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'frontend/js/bootstrap.min.js' %}"></script>
<script src="{% static 'frontend/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'frontend/js/jquery.nicescroll.min.js' %} "></script>
<script src="{% static 'frontend/js/jquery.magnific-popup.min.js'%}"></script>
<script src="{% static 'frontend/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'frontend/js/jquery.slicknav.js' %}"></script>
<script src="{% static 'frontend/js/mixitup.min.js' %}"></script>
<script src="{% static 'frontend/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'frontend/js/main.js' %}"></script>

{% endblock %}