{% extends "layout.html" %}
{% load static %}

{% block title %}

Return / Exchange
{% endblock %}
{% block body %}
<style>
    .container {
        margin-top: 20px;
    }
    h1 {
        text-align: center;
    }
    p {
        text-align: justify;
    }
    ol {
        margin-left: 20px;
    }
</style>
    <div class="container">
        <h1>Return and Exchange Policy</h1>
        <br />
        <p>We value your satisfaction and want you to enjoy our products. That's why we offer a flexible return and exchange policy for your convenience. If for any reason you are not happy with your purchase, you can return or exchange it within 30 days of the delivery date. This applies to all items, whether they are regular-priced, sale, or clearance. To be eligible for a return or exchange, your item must meet the following criteria:</p>
        <ul>
            <li>It must be unworn, unwashed, and in the same condition that you received it.</li>
            <li>It must have the original tags attached.</li>
            <li>It must not be damaged, stained, or altered in any way.</li>
            <li>You must have the original receipt or proof of purchase.</li>
        </ul>
        <p>Please note that shipping costs are non-refundable and you are responsible for the return shipping fee. We recommend that you use a trackable service and keep your proof of postage. We are not liable for any lost or damaged items during transit.</p>
        <p>To initiate a return or exchange, please follow these steps:</p>
        <ol>
            <li>Contact our customer service team at vosmos.net@gmail.com and provide your order number, name, and reason for the return or exchange. You can also use our online form to request a return or exchange.</li>
            <li>We will then send you a confirmation email with instructions on how to ship your item back to us. Please do not send your item without receiving this email, as it may delay the process.</li>
            <li>Once we receive and inspect your item, we will process your refund or exchange within 5 business days. Refunds will be issued to the original method of payment. Exchanges will be shipped to the address provided by you.</li>
        </ol>
        <br />
        <p>We appreciate your business and hope you enjoy shopping with us. If you have any questions or concerns, please feel free to contact us anytime. We are always happy to help.</p>
    </div>
{% endblock %}