{% extends "layout.html" %}
{% load static %}

{% block title %}

Favorites
{% endblock %}
{% block body %}
{% if favorites|length != 0 %}
<div class="container">
<div class="shopping__cart__table">
    <table>
      <thead>
        <tr>
          <th>Product</th>
       
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for product in favorites %}

        <tr id="x{{ product.id }}" style="position: relative;">
          <td class="product__cart__item">
            <a href="{{ product.get_absolute_url }}">
            <div class="product__cart__item__pic">
              <img src="{% static product.path %}" width="50px" alt="">
            </div>
            <div class="product__cart__item__text">
              <h6>{{ product.product_name }}</h6>
              <p>{{size}}</p>
              <p>{{color}}</p>
              <h5>EGP {{ product.price }}</h5>
            </div></a>
          </td>


          <td>
            <div class="col-lg col-sm-6 d-flex justify-content-sm-center justify-content-md-start justify-content-lg-center justify-content-xl-end mb-2">
              <div class="float-md-end">
                <a onclick="addToCart('{{ product.id }}')" href="#" class="btn btn-light border px-2 icon-hover filler" style="border-radius: 12px;"><i class=" fa-xs px-1 text-secondary">Add To Cart</i></a>
                <a onclick="removeFromFavorites('{{ product.id }}')" class="btn btn-light border text-danger icon-hover-danger" style="border-radius: 12px; padding: 4px 8px;"> <i class="fa fa-close"></i></a>                        </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% else %}
<section class="shopping-cart spad"><h5 class="text-center">You Haven't Added Anything to Favorites For Now</h5>
  <br>
  <br>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="continue__btn">
        <a class="btn btn-light w-100 border mt-2" id="back-button">Continue Shopping</a>
      </div>
    </div>
  </div>
</section>

{% endif %}
{% endblock %}