{% extends "layout.html" %}
{% load static %}

{% block title %}

{{product.product_name}}
{% endblock %}
{% block body %}

    <!-- Shop Details Section Begin -->
    <div class="product__details__pic">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="product__details__breadcrumb">
                            <a href="{% url 'index' %}">Home</a>
                            <a href="{% url 'show_products' %}">Shop</a>
                            <span>Product Details</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-9">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-0" role="tabpanel">
                                <div class="product__details__pic__item">
                                    <img src="{% static product.path %}" alt="">
                                </div>
                            </div>
                            {% for image in images %}
                            <div class="tab-pane" id="tabs-{{ forloop.counter }}" role="tabpanel">
                                <div class="product__details__pic__item">
                                    <img src="{% static image.path %}" alt="">
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 align-items-left">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-0" role="tab">
                                    <div class="product__thumb__pic set-bg" data-setbg="{% static product.path %}">
                                    </div>
                                </a>
                            </li>

                            {% for image in images %}
                            <li class="nav-item ">
                                <a class="nav-link" data-toggle="tab" href="#tabs-{{ forloop.counter }}" role="tab">
                                    <div class="product__thumb__pic set-bg" data-setbg="{% static image.path %}">
                                    </div>
                                </a>
                            </li>
                            {% endfor %}
                            
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <!-- move this div inside the same row as the photos -->
                        <h2>{{product.product_name}}</h2>
                        <!-- ... (rest of the product details) -->
                        <h4>{% if product.discount_price != 0%} <span style="text-decoration: line-through; opacity: 0.5;">EGP {{ product.discount_price }}</span> {% endif %} EGP {{ product.price }} </h4>
                        <br>
                        <p>{{ product.desc }}</p>
                        <p>{{ star }}</p>
                        <hr />
                        <br>
                        <!-- Button trigger modal -->
                        <button id="sizechart" type="button" class="btn btn-primary" data-toggle="modal" data-target="#sizeChartModal">
                            Size Chart
                        </button>
                        <br>
                        <!-- Modal -->
                        <div class="modal fade" id="sizeChartModal" tabindex="-1" role="dialog" aria-labelledby="sizeChartModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">

                                        <h5 class="modal-title">Size Chart</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-pills" id="myTab" role="tablist">
                                            <li class="nav-item">
                                                <a data-value="s.png" class="nav-link active sizetab" href="#" id="tab1-tab" data-toggle="tab"
                                                    role="tab" aria-selected="true"> S </a>
                                            </li>
                                            <li class="nav-item">
                                                <a data-value="m.png" class="nav-link sizetab" href="#" id="tab2-tab" data-toggle="tab"
                                                    role="tab" aria-selected="false"> M </a>
                                            </li>
                                            <li class="nav-item">
                                                <a data-value="l.png" class="nav-link sizetab" href="#" id="tab2-tab" data-toggle="tab"
                                                    role="tab" aria-selected="false"> L </a>
                                            </li>
                                            <li class="nav-item">
                                                <a data-value="xl.png" class="nav-link sizetab" href="#" id="tab2-tab" data-toggle="tab"
                                                    role="tab" aria-selected="false"> XL </a>
                                            </li>
                                            <li class="nav-item">
                                                <a data-value="xxl.png" class="nav-link sizetab" href="#" id="tab2-tab" data-toggle="tab"
                                                    role="tab" aria-selected="false"> XXL </a>
                                            </li>
                                            <li class="nav-item">
                                                <a data-value="3xl.png" class="nav-link sizetab" href="#" id="tab2-tab" data-toggle="tab"
                                                    role="tab" aria-selected="false"> 3XL </a>
                                            </li>

                                        </ul>

                                        <img src="" class="modal-img">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="product__details__option">
                            <form id="my-form" method="POST" action="{% url 'add_to_cart' product.id %}">
                            <div class="product__details__option__size">
                                <span>Size:</span>
                                {% for size in sizes %}
                                <label for="{{ size.size }}"  {% if forloop.first %}class="active"{% endif %}>{{ size.size }}
                                    <input name="size" type="radio" value="{{ size.size }}" id="{{ size.size }}" {% if forloop.first %}checked{% endif %}>
                                </label>
                                {% endfor %}
                                
                            </div>
                            <div id="color-selector" class="product__details__option__color">
                                <span>Color:</span>
                                {% for size in colors %}
                                    
                                    <input type="radio" id="sp-{{ size.color_id }}" name="color" value="{{ size.color }}" class="d-none" {% if forloop.first %}checked{% endif %}>
                                    <label class="c-{{ size.color_id }}" for="sp-{{ size.color_id }}" title="{{ size.color }}"></label>
                                {% endfor %}
                            </div>
                            <br>
                            <br>
                                {% csrf_token %}
                            <div class="product__details__cart__option">
                                <div class="sticky-bottom">
                                    <div class="quantity">
                                      <div class="pro-qty">
                                        <input name="cloth_quantity" type="text" value="1">
                                      </div>
                                    </div>
                                    <a href="#" class="primary-btn" id="submit-button">Add to Cart</a>
                                  </div>                        </div>
                            </form>
                            <div class="product__details__btns__option">
                                <a onclick="addToFavorites('{{ product.id }}')" href="#"><i class="fa fa-heart"></i> add to favorites</a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="product__details__content">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="product__details__text">
                            <h4>{{product.product_name}}</h4>

                            

                            


                            <div class="product__details__last__option">
                                <h5><span>Guaranteed Safe Checkout</span></h5>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__details__tab">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#tabs-5"
                                    role="tab">Description</a>
                                </li>

                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tabs-5" role="tabpanel">
                                    <div class="product__details__tab__content">
  
                                            <p>{{ product.description|linebreaks }}
                                            </p>
  

                                        <div class="product__details__tab__content__item">
                                            <h5>Material used</h5>
                                            <p>{{ product.material }}</p>
                                        </div>
                                    </div>
                                </div>
                                
                            <hr/>
                            <hr/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- Shop Details Section End -->
    <script>
        var staticUrl = "{% static 'frontend/img/size/' %}";
    </script>
    <script>
        // get all the radio buttons
        const radioButtons = document.querySelectorAll('input[type=radio][name=color]');
    
        // add event listeners to the radio buttons
        radioButtons.forEach(radioButton => {
            radioButton.addEventListener('change', () => {
                // update the color name when a radio button is selected
                const colorName = radioButton.value;
                document.querySelector('#color-name').textContent = colorName;
            });
            radioButton.addEventListener('mouseenter', () => {
                // update the color name when the mouse enters a radio button
                const colorName = radioButton.value;
                document.querySelector('#color-name').textContent = colorName;
            });
            radioButton.addEventListener('mouseleave', () => {
                // clear the color name when the mouse leaves a radio button
                document.querySelector('#color-name').textContent = '';
            });
        });
        document.querySelector('#submit-button').addEventListener('click', () => {
        document.querySelector('#my-form').submit();
        });
        // Get all the radio buttons
const colorRadios = document.querySelectorAll('#color-selector input[type="radio"]');

// Add an event listener to each radio button
colorRadios.forEach(radio => {
    radio.addEventListener('change', event => {
        // Get the selected radio button
        const selectedRadio = event.target;
        // Get the color of the selected option
        const color = selectedRadio.value;
        // Update the text above the selected color
        const colorText = document.querySelector('#color-selector span');
        colorText.textContent = `Color: ${color}`;
    });
});

    </script>
{% endblock %}