asgiref==3.7.2
dj-database-url==2.0.0
Django>=3.2,<4.0
Pillow==10.2.0
pytz==2023.3
sqlparse==0.4.4
django-phonenumber-field==5.2.0
phonenumbers==8.12.38
django-allauth
gunicorn==20.1.0
psycopg2-binary==2.9.6
typing-extensions==4.7.0
tzdata==2023.3
babel==2.12.1
whitenoise
